@using Gaming.Settings;
@model Gaming.ViewModels.CreateGameFormViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h5><i class="bi bi-plus-circle-dotted"></i> Add a new game</h5>
<div class="row">
<form class="row col-md-6 g-3" enctype="multipart/form-data" asp-controller="Games">
    <div class="col-12">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" >
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="Model.Categories">
            <option selected value="">Select a category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="SelectedDevices" class="form-label"></label>
        <select asp-for="SelectedDevices" class="form-select" asp-items="Model.Devices">
            <option >Select Devices</option>
        </select>
        <span asp-validation-for="SelectedDevices" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Description" class="form-label"></label>
        <textarea class="form-control" asp-for="Description" rows="3"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Cover" class="form-label"></label>
        <input type="file" class="form-control mb-1" asp-for="Cover" rows="3" 
        data-rule-extension="@FileSettings.AllowedExtensions.Replace(".",string.Empty)"
        data-msg-extension="Not allowed extension"
        data-rule-fileSize="@FileSettings.MaxFileSizeInBytes"/>
        <span >only @FileSettings.AllowedExtensions files are allowed with max size of @(FileSettings.MaxFileSizeInMB)MB</span>
        <span asp-validation-for="Cover" class="text-danger d-block"></span>
    </div>
    <div class="col-12 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary me-2">Save</button>
        <a  class="btn btn-danger" asp-action="Index">Cancel</a>
    </div>
</form>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img alt="Cover photo" class="image-preview img-thumbnail d-none" />
</div>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/game-form.js" asp-append-version="true"></script>
    <script src="~/js/filesize-validator.js" asp-append-version="true"></script>
}